* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* =========Common========= */
:root {
    --primary-color: #FFB900;
    --background-primary-color: #FFFCF4
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    --line-clamp: 2
}

.break-all {
    word-break: break-all;
    ;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 999px;
    background: #171100;
    color: #FFF;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.heading-lv2 {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.02em;
}

.heading-lv3 {
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}

.card-item {
    height: 467px;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}

.card-item:hover {
    border-color: transparent;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.dots {
    margin-top: 28px;
    display: flex;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.dot+.dot {
    margin-left: 6px;
}

/* ======= Header =========== */

.header {
    background-color: var(--background-primary-color);
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    padding: 36px 0 8px;
}

.nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5F5B53;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: black;
}

.nav li.active a:after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    left: 21px;
    bottom: 6px;
}

.header .sign-up-btn {
    min-width: 144px;
}


.body .action {
    margin-left: 49px;
}

/*=========== Hero ============*/

.hero {
    padding-top: 64px;
    padding-bottom: 65px;
    background: var(--background-primary-color);
}

.hero .body {
    display: flex;
}

.hero .media-block .img {
    height: 685px;
    width: 470px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .media-block {
    position: relative;
    padding-right: 230px;
}

.hero .hero-summary {
    padding: 28px 24px;
    position: absolute;
    bottom: 48px;
    right: 100px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}


.hero .content-block .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241;
    letter-spacing: -0.02em;
}

.hero .content-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0em;
    color: #5F5B53;
}

.hero .hero-summary .item {
    display: flex;
}

.hero .hero-summary .icon {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.hero .hero-summary .item+.item {
    margin-top: 14px;
}

.hero .hero-summary .item .info {
    padding-left: 16px;
}

.hero-summary .item .info .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero-summary .item .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero .content-block .action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .content-block .action .btn {
    min-width: 180px;
    line-height: 64px;
    background-color: #FFB900;
}

.content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);

}

.content-block .watch-video {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
}


.content-block .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.content-block .desc:nth-of-type(2) {
    margin-top: 48px;
}

.content-block .desc:nth-of-type(3) {
    margin-top: 8px;
}

.content-block .desc strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
}

.content-block .desc strong:last-child {
    margin-left: 28px;
}

.courses .heading {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .heading .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    width: 458px;
}

.courses .icon {
    display: flex;
    gap: 18px;
}

.courses .icon .btn-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.courses .icon .btn-control:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.courses .body {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.courses .body .card {
    flex: 1;
}

.courses .body .card-item {
    height: 466px;
}

.courses .body .card-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.courses .body .card-body {
    margin: 22px;
}

.courses .body .card-body .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .body .card-body .card-header .title {
    padding-right: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    letter-spacing: 0em;
}

.courses .card-body .card-header .icon {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--primary-color);
}

.courses .body .card .desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
    margin-top: 6px;
}

.courses .card-item .card-action-price {
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
}

.courses .card-item .card-action-price .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.courses .card-item .card-action-price .book-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    height: 50px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
    cursor: pointer;
}

.courses .card-item .card-action-price .book-btn:hover {
    color: #FFF;
    background-color: var(--primary-color);
}

/* ===============FeedBack============ */
.feedback {
    margin-top: 200px;
    background: #2E2100;
}

.feedback .main-content {
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}


/* Khối Info */

.feedback-list .info .avatar {
    margin: 4px;
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-list .info .title {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}

.feedback-list .info .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-list .info .active {
    background: var(--primary-color);
    cursor: none;
}

.feedback-list .content {
    margin-left: 241px;
    width: 66%;
}

.feedback-list .content blockquote {
    padding-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

/* ========= Features ========= */

.features .body {
    display: flex;
    margin-top: 135px;
    padding: 65px 0;
    justify-content: space-between;
    align-items: center;
}

.features .body .image {
    display: flex;
    gap: 0 30px;
}

.features .body .image img {
    object-fit: cover;
    width: 270px;
    height: 404px;
    border-radius: 16px;
}

.features .body .image img:first-child {
    margin-top: 34px;
}

.features .content {
    width: 41%;
}

.features .content .desc,
.sub-desc {
    color: #5F5B53;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.features .content .desc,
.features .content .sub-desc {
    margin-top: 16px;
}

.features .content .btn-cta {
    min-width: 137px;
    margin-top: 32px;
    background: var(--primary-color);
}

.features-2nd .body {
    margin-top: 70px;
}

.features-2nd .body .image img {
    width: 470px;
}

.features-2nd .content {
    margin-left: 0;
    width: 49%;
}

.features-2nd .body .image img:first-child {
    margin-top: 0px;
}

/* ======== Blog ========= */

.blog {
    margin-top: 135px;
    background-color: var(--background-primary-color);
    padding: 96px 0;
}


.blog .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blog .info .desc {
    width: 448px;
    margin-top: 16px;
    color: #696262;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.blog .card-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog .card-item {
    width: 31%;
    flex-shrink: 0;
}

.blog .card-item .thumb {
    height: 250px;
}

.blog .card-info {
    margin: 20px 20px 28px 20px;
}

.blog .body .active {
    background: var(--primary-color);
}

.blog .card-info .sub-desc {
    display: inline-flex;
    position: relative;
    align-items: center;
    color: #5F5B53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}

.blog .card-info .sub-desc::before {
    display: inline-block;
    content: "";
    background-color: var(--primary-color);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
}

.blog .card-info .sub-desc::after {
    display: inline-block;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: -27px;
    content: "";
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}

.blog .card-item .desc {
    margin-top: 25px;
    color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
}

.blog .card-item .btn-cta {
    font-size: 1.4rem;
    margin-top: 12px;
}

.blog .card-item .btn-cta:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    display: flex;
    justify-content: center;
}

.blog .dot {
    cursor: pointer;
    background-color: #5F5B53;
}

/* ======Footer====== */
.footer {
    background: #2E2100;
    padding: 96px 0 28px 0;
}

.footer .row-top {
    display: flex;
}

.footer .row-top .col:first-child {
    width: 35%;
}

.footer .row-top .col {
    width: 21.6%;
}

.footer .row-top .col .social-icon {
    display: inline-flex;
    margin-top: 18px;
}

.footer .row-top .col .social-icon img+img {
    margin-left: 18px;
}

.footer .row-top .col .heading-lv3::after {
    content: "";
    display: block;
    width: 130px;
    height: 1px;
    background: #59554B;
    bottom: 0;
    left: 0;
    margin-top: 14px;
}

.footer .col .desc {
    max-width: 267px;
    margin-top: 18px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .col .list .item {
    margin-top: 43px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85714;
}

.footer .col .list .item+.item {
    margin-top: 12px;
}

.footer .col .list .item strong {
    color: #FFF;
    font-weight: 600;
}

.footer .row-bottom .copyright::before {
    position: absolute;
    content: "";
    display: block;
    width: 1170px;
    height: 1px;
    background: #59554B;
    top: -28px;
}

.footer .row-bottom .copyright {
    position: relative;
    margin-top: 67px;
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}